<!doctype html>
<html>

<head>
    {% block head %}
    
    <title>{% block title %}{% endblock %} Journal Entry </title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet"> -->
    <link rel="stylesheet" href="static/style.css">

<!-- navbar at the head -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- This can get whonky with CSS styling -->
        <p class="navbar-text navbar-fixed-top">
            <span class="glyphicon glyphicon-edit" id="pulse">   Journal Entries</span>
        </p>
    </div>
</nav>
{% endblock %}
{% block extra_js %}{% endblock %}

</head>
<body id="body">



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block content %} Put your body here. 

{% endblock %}
<!--Footer Navbar -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="col-sm-12 text-center navbar-text">
            {{ quote }} {{ quote_author }}
        </div>
      </div>
    </nav>

</body>
</html>

