<!doctype html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title> Journal Entry </title>
    <script src="jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
<!-- <link rel="stylesheet" href="static/stylesheet.css"> -->
{% block extra_js %}{% endblock %}

</head>
<body id="body">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <p class="navbar-text navbar-fixed-top">
            Journal Entries</p>
    </div>

</nav>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block content %} Put your body here. 

{% endblock %}


</body>
</html>
