{% extends 'base.html' %}

{% block extra_js %}
<!-- <script type="text/javascript" src="static/choose_activity.js"></script> -->
{% endblock %}
{% block content %}


<body>
    <div class="dynamic-container">
        Journal Entry Title
        <input type="textbox" id="subject"> <br>
        Tag <select id="tag">
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="angry">Angry</option>
        </select> <br>  
        Journal Body<br>
        <textarea id="entry" rows="50" cols="150">
        </textarea><br>
        <button id="entry-save" class="entry">Save</button> <button id="entry-save-and-quit" class="entry">Save and Exit</button><br><br>
    </div>
    <div class="panel-footer">Footer</div>
</body>
{% endblock %}
// <script type="text/javascript">
// //When the user hits save and exit put the entry in the model

// function saveEntry(evt) {
//     $.post("/new_entry",
//       data: ("#entry"),
//       function()
//     });
// }

// $("#entry-save")submit(click, saveEntry);
// </script>