{% extends "base.html" %}
{% set active_page = "index" %}

{% block extra_js %}
<!-- <script type="text/javascript" src="static/.js"></script> -->
{% endblock %}
{% block content %}


<body>
    <div class="dynamic-container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <br>
                <br>
                <br>
                Journal Entry Title
                <input type="textbox" id="subject"> <br>
                <br>

                Tag 
                <div class="container">
                    <div class="row">
                        <input type="hidden" name="count" value="1" />
                            <div class="control-group" id="fields">
                                <!-- <label class="control-label" for="field1">Nice Multiple Form Fields</label> -->
                                <div class="controls" id="profs"> 
                                    <form class="input-append">
                                        <div id="field">
                                            <input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="How are you feeling?" data-items="8"/>
                                            <button id="b1" class="btn add-more" type="button">+</button></div>
                                    </form>
                                <small>Press + to add a tag</small>
                                </div>
                            </div>
                        </div>
                    </div>

                <br>
                <br>

                Journal Body<br>
                <br>
                <textarea id="entry" rows="20" cols="150">
                </textarea><br>
                <br>

                <div id="submission-btn" class="text center">
                    <button id="entry-save" class="entry">Save</button> <button id="entry-save-and-quit" class="entry">Save and Exit</button><br><br>
                </div>
            </div>
        </div>
    </div>
</body>
<br>

<script>

$(".add-more").on("click", function() { 
        var next = 1; 

        $(".add-more").click(function(e) 
            { e.preventDefault(); 
            var addto = "#field" + next; var addRemove = "#field" + (next);
            next = next + 1;
        
        var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="field' + next + '" type="text">';
        
        var newInput = $(newIn);
        
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        
        var removeButton = $(removeBtn);
        
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);  
        
            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });
    

    
});
</script>
{% endblock %}

