{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
  {{ super() }}

<!-- {% endblock %} -->

<!-- {% block content %} -->
<br>
<br>
<br>
<body id="homepage">
    <div class="dynamic-container">
        <div class="row">
            <div>
        <!-- insert modal window -->
                <div id='overlay'> <!--overlay semi-transparent layer that fills the visitor's viewport-->
                    <!--bootstrap to center the modal window!-->
                <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="modal">
                    <div id='content'> 
                        <p>
                            <div id="login">   
                              <h1>Welcome Back!</h1>
                              
                              <form action="/" method="post">
                              
                                <div class="field-wrap">
                                <label>
                                  Username <span class="req">*</span>
                                </label>
                                <input type="email"required autocomplete="off"/>
                              </div>
                              <br>
                              <div class="field-wrap">
                                <label>
                                  Password<span class="req">*</span>
                                </label>
                                <input type="password"required autocomplete="off"/>
                              </div>
                            <div>
                              <p class="forgot"><a href="#">Forgot Password?</a></p>
                              </form>
                            </div>
                        </p>    
                    </div>
                    <a href="x" rel="modal: close">Submit</a> <!--abs positioned -->
                </div> <!-- closes modal -->
                </div> <!-- closes overlay -->
<!--         </div> -->
        </div> <!-- closes row -->

<br>
<br>
<br>

    <div class="row" id="homepage_buttons">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <button id="login_btn" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log In</button> 
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <button id="register_btn" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Register</button>
            <!-- insert modal window -->
        </div>
    </div>
    </div> <!-- closes main div -->
</body>

<script type="text/javascript">
var modal = function() {
    var method = {},
    $overlay = $('<div id="overlay"></div>');
    $modal = $('<div id="modal"></div');
    $content = $('<div id="content"></div>');
    $close = $('<a id="close" href="x">close</a>');

    $modal.hide();
    $overlay.hide();
    $modal.append($content, $close);

    $(document).ready(function(){
        $('body').append($overlay, $modal);
    });
//Center the modal in the view port
method.center = function() {
    var top, left;
 //balance each side of the modal 
    top = Math.max($(window).height() - $modal.outerHeight(), 0) / 2;
    left = Math.max($(window).width() - $modal.outerWidth(), 0) / 2;
//accounts for scrolling
    $modal.css({
        top: top + $(window).scrollTop(),
        left: left + $(window).scrollLeft(),
    });
};

//Open the modal
method.open = function(settings) {
    $content.empty().append(settings.content);

    $modal.css({
        width: settings.width || '10px',
        height: settings.height || '10px'
    })

    method.center();

    $(window).bind('resize.modal', method.center);

    $modal.show();
    $overlay.show();
};

//Close the modal
method.close = function() {
    $modal.hide();
    $overlay.hide();
    $content.empty();
    //unbind the resize since it doesn't matter when the modal is closed 
    $(window).unbind('resize.modal');
};

$close.click(function(e){
    e.preventDefault();
    method.close();
});


};
// When the page loads, the modal window is hidden
$('#modal').hide();

//When Login is clicked - modal should be opened
$("#login").on("click", function(){
    open.modal
}
);
</script>
</body>
{% endblock %}