{% extends 'base.html' %}

{% block extra_js %}
<!-- <script type="text/javascript" src="static/choose_activity.js"></script> -->
{% endblock %}
{% block content %}


<body>
    <div class="dynamic-container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <button>Sign In</button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <button>Register</button>
            </div>
        </div>


</body>
{% endblock %}