{% extends 'base.html' %}

{% block extra_js %}
<!-- <script type="text/javascript" src="static/choose_activity.js"></script> -->
{% endblock %}
{% block content %}


<body>
    <div class="dynamic-container">
        <div class="row">
            <div class="col sm-6 md-6 lg-6">
                <button>Sign In</button>
            </div>
            <div class="col sm-6 md-6 lg-6">
                <button>Register</button>
            </div>
        </div>
<!--Footer Navbar -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="col-sm-12 text-center navbar-text">
            Rachel & Yuki Take on the World
        </div>
      </div>
    </nav>

</body>
{% endblock %}