{% extends "base.html" %}
{% set active_page = "index" %}

{% block extra_js %}
<!-- <script type="text/javascript" src="static/.js"></script> -->
{% endblock %}
{% block content %}
<body>
<br>
<br>
<br>
<br>
<div class="dynamic-container">
    <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <h1>Here are your entries</h1>
    <br>
        <div class="content"> 
            {% for u in user_entries %} 
            <br>
                    
                    <h3> {{ u.__dict__['entry_title'] }} </h3>
                    <h4> {{ u.__dict__['entry_body'] }} </h4>

<!-- {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fc9767134d0>, 'user_id': 1, 'entry_body': u'It was a good day and I felt like I could take on the world', 'entry_id': 1, 'entry_date': datetime.datetime(2016, 11, 11, 0, 1), 'entry_title': u'Update on my day'} -->


            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

